*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 24px;
}

p{
    text-align: center;
    font-size: 15px;
}

.Box-for-principal{
    border: 4px black solid;
    border-radius: 3px;
    display: inline-block;
    background-color: cornflowerblue;
}

.Box-for-menu{
    border: 2px black solid;
    border-radius: 1px;
    background-color: darkred;
}

.Box-for-li{
    text-align: center;
}
