*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 24px;
    font-family: monospace;
}

p{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

.Box-for-principal{
    border: 4px black solid;
    border-radius: 3px;
    display: inline-block;
    background-color: cornflowerblue;
}

.Box-for-menu{
    border: 2px black solid;
    border-radius: 1px;
    display: inline-block;
    width: 250px;
    height: 57px;
    background-color: darkred;
}

.Box-for-li{
    display: inline-block;
}

li:hover{
color: darkviolet;
}

.Box-for-information{
    border: 4px black solid;
    border-radius: 3px;
    display: inline-block;
    width: 400px;
    height: auto;
    background-color: dimgray;
}